# Copy this file to /etc/containers/systemd

[Unit]
Description=Observer UI React frontend
Wants=network-online.target
After=network-online.target

[Container]
ContainerName=observer-ui
Image=alvin-observer-ui:latest
Pull=never
Environment=NODE_ENV=production
Network=sealog.network
NetworkAlias=observer-ui
PublishPort=127.0.0.1:18080:80
Volume=/opt/alvin-observer-ui-client/configEnv-observer.js:/usr/share/nginx/html/configEnv.js:ro,Z

[Service]
Restart=always
RestartSec=5
TimeoutStartSec=900

[Install]
WantedBy=multi-user.target
