# Copy this file to /etc/containers/systemd

[Unit]
Description=Pilot UI React frontend
Wants=network-online.target
After=network-online.target

[Container]
ContainerName=pilot-ui
Image=alvin-observer-ui:latest
Pull=never
Environment=NODE_ENV=production
Network=sealog.network
NetworkAlias=pilot-ui
PublishPort=127.0.0.1:18081:80
Volume=/opt/alvin-observer-ui-client/configEnv-pilot.js:/usr/share/nginx/html/configEnv.js:ro,Z

[Service]
Restart=always
RestartSec=5
TimeoutStartSec=900

[Install]
WantedBy=multi-user.target
