# Copy this file to /etc/systemd/system

[Unit]
Description=Pilot UI React frontend
After=docker.service

[Service]
Type=oneshot
RemainAfterExit=yes
WorkingDirectory=/home/alvin/alvin-pilot-ui-client
ExecStart=/usr/bin/docker-compose build
ExecStart=/usr/bin/docker-compose up -d -V
ExecStop=/usr/bin/docker-compose down

[Install]
WantedBy=multi-user.target